# The list of servers to monitor.
gearmanui.servers:
    - name: "Localhost"
      addr: "127.0.0.1:4730"

# General settings.
gearmanui.settings:
    # Server info refresh interval, in seconds.
    # The javascript will ajax the server every 'refresh_interval' seconds for new information.
    refresh_interval: 5

# By default, only log errors. Check \Monolog\Logger for valid values.
monolog.level: 400